.post-item {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-item .content {
  margin-top: 15px;
  color: #3e3e3e;
  font-size: 14px;
}
